In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
pwd

'C:\\Users\\Garrick Schermer\\Documents\\Data\\ML'

In [4]:
car_data = pd.read_csv("C:\\Users\\Garrick Schermer\\Documents\\Data\\ML\\Alden_race_car_Data.csv",sep = ',')
car_data.head()

,id,first_name,last_name,race_number,car_make,average_speed,final_position
0,1,Janet,Volant,10,Ford,158.105,8
1,2,Celia,Kislingbury,11,Scion,134.253,16
2,3,Chrysa,Brunn,17,Lexus,160.823,1
3,4,Jewelle,Birtley,11,Ford,162.581,23
4,5,Armando,Blaszczynski,1,MINI,152.860,25

In [5]:
max_avg_speed = max(car_data['average_speed'])
print ('Highest Max Speed: ', max_avg_speed)

Highest Max Speed:  179.94

In [65]:
rfmTable['frequency'].value_counts()

1    133501
2      1037
3        68
4        15
Name: frequency, dtype: int64

In [66]:
rfmTable = rfmTable[rfmTable['frequency'].isin([2,3,4])]

In [69]:
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
quantiles

quantiles = quantiles.to_dict()
quantiles

{'frequency': {0.25: 2.0, 0.5: 2.0, 0.75: 2.0}}

In [70]:
rfmSegmentation = rfmTable

In [71]:
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4

rfm_segmentation = rfmTable
rfm_segmentation['F_Quartile'] = rfm_segmentation['frequency'].apply(FMScore, args=('frequency',quantiles,))

In [72]:
rfm_segmentation = rfm_segmentation.reset_index()
rfm_segmentation.head()

    Customer Name Service Category  frequency  F_Quartile
0  Acosta Daniela        Hair Care          2           1
1  Adams Brittany        Hair Care          2           1
2      Adams Lisa           Facial          2           1
3    Adams Rhonda        Hair Care          2           1
4  Aguirre Andrea         Manicure          2           1

In [73]:
rfm_segmentation['F_Quartile'].value_counts()

1    1037
4      83
Name: F_Quartile, dtype: int64

In [ ]:
rfm_segmentation.to_csv('customer_Frequent.csv', index=False)