In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
pwd

'C:\\Users\\aj\\Downloads\\Alden_Python-master\\Alden_Python-master'

In [6]:
car_data = pd.read_csv("C:\\Users\\aj\\Downloads\\Alden_Python-master\\Alden_Python-master\\Alden_race_car_Data.csv",sep = ',')
car_data.head(1000)

,id,first_name,last_name,race_number,car_make,average_speed,final_position
0,1,Janet,Volant,10,Ford,158.105,8
1,2,Celia,Kislingbury,11,Scion,134.253,16
2,3,Chrysa,Brunn,17,Lexus,160.823,1
3,4,Jewelle,Birtley,11,Ford,162.581,23
4,5,Armando,Blaszczynski,1,MINI,152.860,25
5,6,Findley,Awcoate,17,Audi,157.339,18
6,7,Lilith,Telfer,17,Hyundai,130.054,9
7,8,Chet,Burgin,10,Ford,140.239,14
8,9,Ailene,Breeder,20,Pontiac,156.537,14
9,10,Wendye,Dyke,10,Suzuki,128.121,22
10,11,Terri,Maso,2,Pontiac,153.861,25
11,12,Whittaker,Overel,2,Nissan,133.324,9
12,13,Milissent,MacGahy,17,Chevrolet,141.226,15
13,14,Mora,Tompkinson,6,Dodge,136.133,18
14,15,Sonnie,Bloodworth,1,Volvo,142.591,13
15,16,Bryant,Snawden,12,Honda,157.723,9
16,17,Zolly,Warlowe,14,Chevrolet,149.733,7
17,18,Gregoor,Leethem,20,Honda,178.641,19
18,19,Dianemarie,Pahlsson,16,Audi,128.353,12
19,20,Karoline,Hutsby,18,Chevrolet,149.709,19
20,21,Esmeralda,Miner,16,Hyundai,153.906,25
21,22,Danika,Chrisp,1,Nissan,162.407,25
22,23,Virgil,Chisolm,6,Acura,136.646,5
23,24,Jeffry,Spurritt,9,GMC,133.515,6
24,25,Dun,Deniscke,18,Mercedes-Benz,132.163,6
25,26,Maren,Hancell,20,Chevrolet,146.923,5
26,27,Wilfred,Mc Queen,9,Nissan,143.338,20
27,28,Lane,Grandin,12,Porsche,170.019,23
28,29,Loralie,Smythe,13,Oldsmobile,142.404,9
29,30,Halsey,Plank,14,Chevrolet,126.170,7
...,...,...,...,...,...,...,...
970,971,Marita,Blaxter,11,Maserati,164.081,6
971,972,Kim,Brothers,11,Pontiac,172.916,21
972,973,Petey,Nelsen,3,Isuzu,123.956,23
973,974,Pepito,Ollet,9,Lamborghini,125.843,7
974,975,Sandra,Rubinowitsch,10,Mazda,143.015,21
975,976,Leigh,Eastes,1,Ford,178.904,3
976,977,Devina,Abramovicz,11,Chevrolet,134.701,3
977,978,Shandeigh,Darmody,14,Chrysler,163.785,13
978,979,Daven,Glandfield,8,Chevrolet,143.449,21
979,980,Alexis,Ciciotti,9,Porsche,176.509,15
980,981,Darcey,Iacofo,9,Dodge,164.566,23
981,982,Luella,Gawne,12,Ford,137.558,25
982,983,Meagan,Cutchie,11,Suzuki,120.116,15
983,984,Nicholas,Avory,16,Buick,162.903,17
984,985,Janelle,Jenney,5,Kia,169.137,14
985,986,Baron,Norree,11,Chevrolet,164.993,8
986,987,Les,Speeding,9,Mazda,162.162,7
987,988,Lani,Bullingham,13,Pontiac,124.656,22
988,989,Teddy,Mattusov,16,Audi,123.035,23
989,990,Merell,Powles,6,Chevrolet,136.112,20
990,991,Martino,Gibbieson,8,Chevrolet,152.171,24
991,992,Alwyn,Shasnan,18,Chevrolet,132.955,3
992,993,Joannes,Hek,17,Saturn,136.471,10
993,994,Rriocard,Chevolleau,7,Porsche,167.076,23
994,995,Eb,Jerdein,20,Ford,136.471,5
995,996,Allix,Sooley,6,Mercury,139.441,21
996,997,Lauretta,Montilla,13,Land Rover,154.582,6
997,998,Kurt,Minnette,12,Infiniti,130.397,3
998,999,Rosene,Goulter,6,Toyota,164.452,15
999,1000,Lori,Blitz,8,Suzuki,168.660,22

In [8]:
for position in car_data['final_position']:
    if final_position == '1':
        print(average_speed)

NameError: name 'car_data' is not defined