In [12]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'pd'

In [2]:
pwd

'C:\\Users\\gdsch'

In [6]:
fipsi_data = pd.read_csv("C:\\Users\\gdsch\\Documents\\Fipsi_temperature_log.csv",sep = ',')
fipsi_data.head(1000)

         Date_time  Temperature
0    6/2/2019 1:00         78.3
1    6/2/2019 2:00         78.5
2    6/2/2019 3:00         78.7
3    6/2/2019 4:00         78.9
4    6/2/2019 5:00         79.1
5    6/2/2019 6:00         79.3
6    6/2/2019 7:00         79.5
7    6/2/2019 8:00         79.7
8    6/2/2019 9:00         79.9
9   6/2/2019 10:00         80.1
10  6/2/2019 11:00         80.3
11  6/2/2019 12:00         80.5
12  6/2/2019 13:00         78.3
13  6/2/2019 14:00         77.3
14  6/2/2019 15:00         76.3
15  6/2/2019 16:00         75.3
16  6/2/2019 17:00         74.3
17  6/2/2019 18:00         73.3
18  6/2/2019 19:00         72.3
19  6/2/2019 20:00         71.3
20  6/2/2019 21:00         70.3
21  6/2/2019 22:00         69.3
22  6/2/2019 23:00         68.3
23   6/3/2019 0:00         69.5
24   6/3/2019 1:00         69.7
25   6/3/2019 2:00         69.9
26   6/3/2019 3:00         70.1
27   6/3/2019 4:00         70.3
28   6/3/2019 5:00         70.5
29   6/3/2019 6:00         70.7
30   6/3/2019 7:00         70.9
31   6/3/2019 8:00         71.1
32   6/3/2019 9:00         71.3
33  6/3/2019 10:00         71.5
34  6/3/2019 11:00         71.7
35  6/3/2019 12:00         71.9
36  6/3/2019 13:00         72.1
37  6/3/2019 14:00         72.3
38  6/3/2019 15:00         72.5
39  6/3/2019 16:00         72.7
40  6/3/2019 17:00         72.9
41  6/3/2019 18:00         73.1
42  6/3/2019 19:00         73.3
43  6/3/2019 20:00         73.5
44  6/3/2019 21:00         73.7
45  6/3/2019 22:00         73.9
46  6/3/2019 23:00         74.1
47             NaN          NaN

In [17]:
from pandas import DataFrame

df = DataFrame(fipsi_data,columns=['Date_time', 'Temperature'])

df.loc[df.Temperature > 80, 'Alert'] = 'Alert! Fipsi is too hot!'  

df.loc[df.Temperature < 70, 'Alert'] = 'Alert! Fipsi is too cold!'  

df.loc[(df.Temperature <= 80) & (df.Temperature >= 70), 'Alert'] = 'Fipsi is comfortable'

print(df)

         Date_time  Temperature                      Alert
0    6/2/2019 1:00         78.3       Fipsi is comfortable
1    6/2/2019 2:00         78.5       Fipsi is comfortable
2    6/2/2019 3:00         78.7       Fipsi is comfortable
3    6/2/2019 4:00         78.9       Fipsi is comfortable
4    6/2/2019 5:00         79.1       Fipsi is comfortable
5    6/2/2019 6:00         79.3       Fipsi is comfortable
6    6/2/2019 7:00         79.5       Fipsi is comfortable
7    6/2/2019 8:00         79.7       Fipsi is comfortable
8    6/2/2019 9:00         79.9       Fipsi is comfortable
9   6/2/2019 10:00         80.1   Alert! Fipsi is too hot!
10  6/2/2019 11:00         80.3   Alert! Fipsi is too hot!
11  6/2/2019 12:00         80.5   Alert! Fipsi is too hot!
12  6/2/2019 13:00         78.3       Fipsi is comfortable
13  6/2/2019 14:00         77.3       Fipsi is comfortable
14  6/2/2019 15:00         76.3       Fipsi is comfortable
15  6/2/2019 16:00         75.3       Fipsi is comfortable
16  6/2/2019 17:00         74.3       Fipsi is comfortable
17  6/2/2019 18:00         73.3       Fipsi is comfortable
18  6/2/2019 19:00         72.3       Fipsi is comfortable
19  6/2/2019 20:00         71.3       Fipsi is comfortable
20  6/2/2019 21:00         70.3       Fipsi is comfortable
21  6/2/2019 22:00         69.3  Alert! Fipsi is too cold!
22  6/2/2019 23:00         68.3  Alert! Fipsi is too cold!
23   6/3/2019 0:00         69.5  Alert! Fipsi is too cold!
24   6/3/2019 1:00         69.7  Alert! Fipsi is too cold!
25   6/3/2019 2:00         69.9  Alert! Fipsi is too cold!
26   6/3/2019 3:00         70.1       Fipsi is comfortable
27   6/3/2019 4:00         70.3       Fipsi is comfortable
28   6/3/2019 5:00         70.5       Fipsi is comfortable
29   6/3/2019 6:00         70.7       Fipsi is comfortable
30   6/3/2019 7:00         70.9       Fipsi is comfortable
31   6/3/2019 8:00         71.1       Fipsi is comfortable
32   6/3/2019 9:00         71.3       Fipsi is comfortable
33  6/3/2019 10:00         71.5       Fipsi is comfortable
34  6/3/2019 11:00         71.7       Fipsi is comfortable
35  6/3/2019 12:00         71.9       Fipsi is comfortable
36  6/3/2019 13:00         72.1       Fipsi is comfortable
37  6/3/2019 14:00         72.3       Fipsi is comfortable
38  6/3/2019 15:00         72.5       Fipsi is comfortable
39  6/3/2019 16:00         72.7       Fipsi is comfortable
40  6/3/2019 17:00         72.9       Fipsi is comfortable
41  6/3/2019 18:00         73.1       Fipsi is comfortable
42  6/3/2019 19:00         73.3       Fipsi is comfortable
43  6/3/2019 20:00         73.5       Fipsi is comfortable
44  6/3/2019 21:00         73.7       Fipsi is comfortable
45  6/3/2019 22:00         73.9       Fipsi is comfortable
46  6/3/2019 23:00         74.1       Fipsi is comfortable
47             NaN          NaN                        NaN